*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li, a, button{
    font-family: "Inika";
    font-size: 30px;
    color: #000;
    text-decoration: none;
} 

header{
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    font-family: sans-serif;
    font-size: large;
}

.nav__links li a:hover{
    color: #0088a9;
}

hr{
    border: 1px solid;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
}

.input-search::placeholder{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    border-style: 20px;
    position: absolute;
    right: 0px;
    color:#000 ;
    background-color:transparent;
    pointer-events: painted;  
}
.btn-search:hover{
    color: #0088a9;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}  

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #1ee2e7;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #1ee2e7;
}

::selection {
    text-shadow: none;
    background: #1ee2e7;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.banner{
    background-image: url('../img/homepage.png');
    width: auto;
    height: 700px;
    background-size: cover;
}

.banner-text{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%; 
    left: 10%;
    transform: translate(-10%,-50%);
    width: 350px;
    height: 350px;
}

.banner h1, p{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 45px;
    color: #25283D;
}

.banner-text p{
    font-size: larger;
    font-weight: 600;
}

button{
    width: 250px;
    height: 60px;
    background-color: #84D9BB;
    color: #000;
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
}

button:hover {
    color: #07BEB8;
}

/* DATA WARGA STYLING */
.table{
    margin: auto;
    width: 95%;
    border-collapse: collapse;
}

.table th, td{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

.table th{
    background-color: #0088a9;
}

.table td{
    background-color: #84D9BB;
}

.button{
    margin-left: 78.5%;
}

.button .btn-left, .btn-right{
    font-family: sans-serif;
    font-size: 20px;
}

.button .btn-left{
    background: #A9A9A9;
    border-radius: 4px;
    color: #fff;
}

.button .btn-right{
    background: #468770;
    border-radius: 4px;
    color: #fff;
}

.about{
    margin-top: 15px;
    background-color: #84D9BB;
}

.about-content{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.about-content-text{
    background-color: transparent;
    margin: 60px;
}

.about-content-text h2{
    font-family: sans-serif; 
    background-color:transparent;
    font-size: 30px;
    padding-bottom:10px;
}

.about-content-text p{
    font-family: 'Inika'; 
    background-color:transparent;
    font-size: 16px;
}